.outfit {
    align-items: center;
    display: flex;
    background-color: #eceded;
    justify-content: space-between;
    margin: 50px auto;
    padding: 50px 0px;
    width: 100%;
}

.outfit h1 {
    font-size: 40px;
    font-weight: 900;
    height: fit-content;
    margin: 0px -100px;
    padding: 20px;
    rotate: -90deg;
    text-wrap: nowrap;
    text-shadow: 0px 3px 9px var(--lg-color);
    width: fit-content;
}

.blocks {
    display: flex;
    height: 550px;
    justify-content: space-evenly;
    overflow: hidden;
    width: 90%;
}

.blocks .single {
    align-items: center;
    background: url('https://github.com/eytorsousa/rp-images/raw/main/images/outfit.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 48.5%;
}

.blocks .single::after {
    bottom: 3%;
    content: 'SNEAKERS →';
    color: white;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    right: 5%;
    text-shadow: 0px 3px 9px black;
    width: fit-content; 
}

.blocks .multi {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 50%;
}

.multi .top {
    background: url('https://github.com/eytorsousa/rp-images/raw/main/images/outfit2.jpg');
    background-size: cover;
    background-position: top;
    height: 49%;
    position: relative;
    transition: all 350ms ease-in;
    width: 100%;
}

.multi .top::after {
    bottom: 5%;
    content: 'ROUPAS →';
    color: white;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    right: 5%;
    text-shadow: 0px 3px 9px black;
    width: fit-content; 
}

.multi .bottom {
    display: flex;
    height: 49%;
    justify-content: space-between;
    width: 100%;
}

.bottom .first{
    background: url('https://github.com/eytorsousa/rp-images/raw/main/images/outfit3.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    width: 49%;
}

.bottom .first::after {
    bottom: 5%;
    content: 'ACESSÓRIOS →';
    color: white;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    right: 5%;
    text-shadow: 0px 3px 9px black;
    width: fit-content; 
}

.bottom .second {
    background: url('https://github.com/eytorsousa/rp-images/raw/main/images/outfit4.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    width: 49%;
}

.bottom .second::after {
    bottom: 5%;
    content: 'MARCAS →';
    color: white;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    right: 5%;
    text-shadow: 0px 3px 9px black;
    width: fit-content; 
}


.buy {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 5px 0px;
    width: 100%;
}

.buy .discount, .buy .store {
    align-items: center;
    background-size: cover;
    background-position: center;
    display: flex;
    filter: brightness(70%);
    height: 650px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all 850ms ease-in-out;
    width: 49.5%;
}

.buy .discount {
    background-image: url('https://github.com/eytorsousa/rp-images/raw/main/images/buy.jpg');
}

.buy .store {
    background-image: url('https://github.com/eytorsousa/rp-images/raw/main/images/buy2.jpg');
}

.buy .discount:hover, .buy .store:hover {
    cursor: pointer;
    transform: scale(1.01);
    filter: brightness(100%);
}

.buy .discount::after, .buy .store::after {
    bottom: 5%;
    content: 'QUERO →';
    color: white;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    right: 3%;
    text-shadow: 0px 3px 6px black;
}

.buy .discount::before, .buy .store::before {
    bottom: 10%;
    color: white;
    font-weight: 700;
    font-size: 35px;
    left: 3%;
    position: absolute;
    text-shadow: 0px 3px 6px black;
}

.buy .discount::before {
    content: '5% OFF (PIX)';
}

.buy .store::before {
    content: 'COMPRE NO SITE E RETIRE NA LOJA!';
    width: 80%;
}

.marks .logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
    margin: 20px auto;
    padding: 0 20px;
    width: fit-content;
}

.marks .logo {
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 180px;
    justify-content: center;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    width: 180px;
}

.marks .logo img {
    height: 50%;
    width: 50%;
    transition: all 300ms ease-in-out;
}

.marks .logo:hover {
    cursor: pointer;
    background-color: black;
}

.read {
    background-color: #eceded;
    margin: 150px auto;
    padding: 20px 0px;
    width: 100%;
}

.read h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 50px;
    margin-left: 180px;
}

.read p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
    font-weight: 500;
    margin: 0 auto;
    text-align: justify;
    width: 80%;
}

.special {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.special h1 {
    font-size: 40px;
    font-weight: 900;
    margin: 50px 0px 50px 200px;
    text-shadow: 0px 3px 9px var(--lg-color);
}

.special .banner {
    align-items: center;
    align-self: center;
    background-image: url('https://github.com/eytorsousa/rp-images/raw/main/images/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 500px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.special .banner::after {
    bottom: 10%;
    content: 'VER PRODUTOS →';
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    right: 5%;
    text-shadow: 0px 3px 12px black;
}


.location {
    align-items: center;
    background-color: #eceded;
    display: flex;
    justify-content: space-evenly;
    margin: 125px 0px;
    overflow: hidden;
    padding: 75px 0px;
    width: 100%;
}

.location .text {
    display: flex;
    align-items: start;
}

.location .text h1 {
    font-size: 45px;
    font-weight: 900;
    padding: 0;
    width: fit-content;
}

.location .text p {
    font-size: 20px;
    width: 600px;
}

.location a {
    background-color: var(--lg-color);
    border-radius: 1px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    color: var(--b-color);
    font-size: 20px;
    font-weight: 800;
    padding: 35px;
    position: relative;
    text-decoration: none;
    transition: all 200ms ease-in;
}

.location a:hover {
    background-color: var(--g-color);
    color: white;
}

.inspirations, .marks {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    width: 100%;
}

.inspirations h1, .marks h1 {
    color: black;
    font-size: 45px;
    font-weight: 900;
    margin: 20px 0px 20px 12%;
    text-shadow: 0px 3px 9px var(--lg-color);
    width: fit-content;
}

.inspirations p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 20px 12%;
    padding-right: 40px;
}

.pictures {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 20px;
    width: fit-content;
}

.picture {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 520px;
    width: 350px;
}

.picture img {
    filter: brightness(55%);
    transition: all 1s ease-out;
    width: 100%;
}

.picture::after {
    content: '';
    background-image: url('https://github.com/eytorsousa/rp-images/raw/main/images/icons/icon_instagram.png');
    background-size: cover;
    height: 20px;
    position: absolute;
    right: 5%;
    top: 3%;
    width: 20px;
    z-index: 2;
}

.picture img:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(100%);
}

